body {
    font-family: 'Comic Sans', Verdana, sans-serif;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Calculator */
#calc,
#display-container,
.main-container,
.btn-container {
    display: flex;
}

#calc,
#display-container {
    border-radius: 15px;
}

#display-container {
    box-sizing: border-box;
    padding-right: 15px;
    align-items: end;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 900;
    background: rgb(169, 212, 218);
    height: 100px;
    padding-bottom: 35px;
}

#calc {
    background: rgba(0, 0, 0);
    width: auto;
    box-shadow: 2px 4px 16px rgba(0,0,0,.5);
    padding: 30px;
    gap: 20px;
    flex-direction: column;
}

.main-container {
    flex-direction: column;
    gap: 30px;
}

.btn-container {
    gap: 25px;
}


/* Buttons on the calculator */
.num,
.func,
#equal,
#clear,
#del {
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    width: 75px;
    padding: 25px;
    flex: 1;
}

#clear,
#del,
.func {
    background-color: rgb(255, 149, 0);
}

.num {
    background-color: rgb(80,80,80);

}

#equal{
    background-color: rgb(255,50,50);
}